<nav class="nav">
    <ul>
        <!-- [routerLinkActiveOptions]="{exact: true}" -->
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a routerLinkActive="active" routerLink="/formulario-reactivo">Formulario Reactivo</a></li>
        <!-- <li><a routerLinkActive="active" (click)="goToReactive()">Formulario reactivo con un parámetro</a></li>
        <li><a routerLinkActive="active" (click)="goToId()">Pasar Id</a></li> -->
        <li><a routerLinkActive="active" routerLink="/users">Users</a></li>
        <li><a routerLinkActive="active" routerLink="/formulario-plantilla">Formulario Plantilla</a></li>
    </ul>
</nav>
