<div class="container">
    <h1>ngSwitch</h1>

    <input type="number" min="1" max="7"  #newDay>

    <button (click)="change(newDay.value)">
        Mostrar día
    </button>

    <div [ngSwitch]="dia" *ngIf="dia">
        <span *ngSwitchCase="1">Lunes</span>
        <span *ngSwitchCase="2">Martes</span>
        <span *ngSwitchCase="3">Miércoles</span>
        <span *ngSwitchCase="4">Jueves</span>
        <span *ngSwitchCase="5">Viernes</span>
        <span *ngSwitchCase="6">Sabado</span>
        <span *ngSwitchCase="7">Domingo</span>
        <span *ngSwitchDefault>Valor no valido</span>
    </div>
</div>
