<div class="card">
    <div class="header">
        <!-- <h2>Header</h2> -->
        <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="body">
        <ng-content select="[card-body]"></ng-content>
        <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum itaque hic repudiandae optio beatae excepturi asperiores ipsa tempora eveniet deleniti eaque enim dolorem cupiditate, ratione laudantium deserunt quia corrupti neque!
        </p> -->
    </div>
</div>