<div>
    <app-contador></app-contador>
    <app-botones></app-botones>
    <app-formulario></app-formulario>
    <app-bucles></app-bucles>
    <app-switch></app-switch>
    <!-- <app-formulario2></app-formulario2>
    <app-formulario-reactivo></app-formulario-reactivo> -->
    <app-decorador-input [color]="'red'" [text]="'Probando el decorador @Input'"></app-decorador-input>
    <app-decorador-output></app-decorador-output>
    <app-pipes></app-pipes>
    <div class="container">
        <h1>Content Project</h1>
        <app-card>
            <h2 card-header>
                Soy Header 
            </h2>
            <p card-body>
                Body
            </p>
        </app-card>
    </div>
</div>
