<div class="container">
    <h1>Formulario reactivo</h1>
    <form
    (ngSubmit)="onSubmit()"
    [formGroup]="persona"
    class="card"
  >
    <div class="input-container">
      <label class="label" for="nombre">Nombre:</label>
      <!-- Es importante que si utilizamos la directiva ngModel, definamos la propiedad "name" en el input -->
      <input
        type="text"
        name="nombre"
        placeholder="Ingrese un nombre"
        required
        formControlName="name"
      />
      <!-- Validación -->
      <div *ngIf="persona.get('name')?.touched && persona.get('name')?.errors?.['required']" class="danger">
        Este campo es requerido
      </div>

      <div *ngIf="persona.get('name')?.touched && persona.get('name')?.errors?.['minlength']" class="danger">
        El nombre debe ser más largo que {{persona.get('name')?.errors?.['minlength'].requiredLength}} caracteres
      </div>
    </div>

    <div class="input-container">
      <label class="label" for="edad">Edad:</label>
      <input
        type="text"
        name="edad"
        placeholder="Ingrese una edad"
        required
        formControlName="age"
      />
      <!-- Validación -->
      <div *ngIf="persona.get('age')?.touched && persona.get('age')?.errors?.['required']" class="danger">
        Este campo es requerido
      </div>
    </div>

    <div class="input-container2">
      <label class="label2" for="checkWork">
        ¿Estas trabajando actualmente?
      </label>
      <div class="check">
        <input
        required
        class="input-check"
        type="checkbox"
        name="checkWork"
        required
        formControlName="checkWork"
      />
      </div>
      <div *ngIf="persona.get('checkWork')?.touched && persona.get('checkWork')?.errors?.['required']" class="danger">
        Este campo es requerido
      </div>
    </div>

    <div class="input-container">
      <label class="label" for="ciudad">¿En que ciudad vives?</label>
      <select
        required
        class="select"
        name="ciudad"
        id="ciudad"
        formControlName="city"
      >
        <!-- Resolvers -->
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
      <!-- Validación -->
      <div *ngIf="persona.get('city')?.touched && persona.get('city')?.errors?.['required']" class="danger">
        Este campo es requerido
      </div>
    </div>

    <div class="input-container">
      <label class="label" for="textarea">Dejanos tu opinión</label>
      <textarea
        class="textarea"
        name="opinion"
        id="opinion"
        cols="30"
        rows="10"
        formControlName="opinion"
      ></textarea>
      <div *ngIf="persona.get('opinion')?.touched && persona.get('opinion')?.errors?.['required']" class="danger">
        Este campo es requerido
      </div>

      <div *ngIf="persona.get('opinion')?.touched && persona.get('opinion')?.errors?.['maxlength']" class="danger">
        El máximo de caracteres permitidos es {{persona.get('opinion')?.errors?.['maxlength'].maxlength}}.
      </div>
    </div>

    <button type="submit" [disabled]="persona.invalid">Enviar</button>
  </form>
</div>
