<div class="container">
  <h1>Contador creado por: {{ nombre }}</h1>
  <!-- EVENTOS -->
  <p>
    Contador:
    <span class="botones">
      <button (click)="incrementar()" class="botonMas">+</button>
    </span>
    {{ value }}
    <span class="botones">
      <button (click)="decrementar()" class="botonMenos">-</button>
    </span>
  </p>

  <!-- INTERFACES DE TYPESCRIPT -->
  <p>
    Probando una interfaz de TypeScript: Soy {{ persona.nombre }}, y tengo:
    {{ persona.edad }} años
  </p>

  <button (click)="onClick($event)" class="boton">
    Escuchando el evento click
  </button>

  <span style="margin-left: 10px;">El resultado se muestra en consola</span>
</div>
